<section class="books-container">
  <section>
    <h1>Libros de Programacion</h1>
    <article class="books">
      <article class="card">

        <a href="https://books.goalkicker.com/AlgorithmsBook/" target="_blank"><img src="assets/AlgorithmsGrow.png" alt="Avatar" style="width:50%"></a>
        <a href="https://books.goalkicker.com/AndroidBook/" target="_blanck"><img src="assets/AndroidGrow.png" alt="Avatar" style="width:50%"></a>
        <a href="https://books.goalkicker.com/BashBook/" target="_blank"><img src="assets/BashGrow.png" alt="Avatar" style="width:50%"></a>
        <a href="https://books.goalkicker.com/Angular2Book/" target="_blank"><img src="assets/Angular2Grow.png" alt="Avatar" style="width:50%"></a>
        <a href="https://books.goalkicker.com/AngularJSBook/" target="_blank"><img src="assets/AngularJSGrow.png" alt="Avatar" style="width:50%"></a>
        <a href="https://books.goalkicker.com/DotNETFrameworkBook/" target="_blank"><img src="assets/DotNETFrameworkGrow.png" alt="Avatar" style="width:50%"></a>
      </article>
    </article>
  </section>
</section>
