<section class="angular-container">
  <img src="/assets/Angular.png" alt="angular imagen">
  <p class="title1">Angular</p>
</section>
<section class="box-container">
  <h2>¿Que es Angular?</h2>
  <article class="text-container">
    <p>
      Angular es un Framework de JavaScript de código abierto
      escrito en TypeScript. Su objetivo principal es desarrollar aplicaciones de una sola página. Google se encarga del mantenimiento y constantes actualizaciones de mejoras para este framework.
      <span><a href="https://docs.angular.lat/docs" target="_blank">Documentacion</a></span>
    </p>
  </article>

  <h2>Lo que Aprendimos de Angular</h2>
  <article class="text-container">
    <ol>
      <li>
        <i>estructura</i>
      </li>
      <li>
        <i>Instalacion Angular CLI</i>
      </li>
      <li>
        <i>Arquitectura de Aplicaiones Angular</i>
      </li>
      <li>
        <i>Componentes</i>
      </li>
      <li>
        <i>Modulos</i>
      </li>
      <li>
        <i>Servicios</i>
      </li>
      <li>
        <i>Directivas</i>
      </li>
      <li>
        <i>Data Binding</i>
      </li>
    </ol>
  </article>
</section>
