.angular-container{
  background-image: url("/assets/laptop.jpg");
  background-size: 80rem;
  background-repeat: no-repeat;
  height: 100%;

}
img{
  height: 300px;
  width: 300px;
  margin:170px 0px 0px 470px;
  background: rgba(255, 255, 255, 0.241);
  border-radius: 200px;
}
.title1{
  margin: 50px;
  text-align: center;
  color:rgb(241, 245, 245);
  font-size: 50px;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  text-shadow: 0px 1px 15px rgb(6, 4, 4);
  letter-spacing: 2px;
}
.box-container{
  height: 60rem;
  width: 100%;
  background: rgb(228, 228, 228);
  padding: 55px 0px 50px 0px;
}
h2{
  margin-left: 55px;
  font-size: 28px;
  color:rgb(242, 243, 243);
  background: rgb(8, 43, 71);
  margin-right: 900px;
  padding: 15px;
  border-radius: 500px 500px 500px 500px;
}
.text-container{
  padding: 4% 4% 4% 4%;
  background: rgb(215, 215, 215);
  margin: 50px 0px 100px 100px;
  width: 50%;
  box-shadow:
  2.2px 5.1px 2.2px rgba(0, 0, 0, 0.031),
  5.4px 12.4px 5.3px rgba(0, 0, 0, 0.044),
  10.1px 23.3px 10px rgba(0, 0, 0, 0.055),
  18.1px 41.5px 17.9px rgba(0, 0, 0, 0.066),
  33.8px 77.7px 33.4px rgba(0, 0, 0, 0.079),
  81px 186px 80px rgba(0, 0, 0, 0.11)
;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}
span a{
  color: rgb(6, 86, 139);
}
